.App {
  text-align: center;
}

.List, .SG, .input {
  padding: 20px;
}

.input {
  margin-top: 20px;
  padding-top: 15px;
  border-radius: 15px 15px 0px 0px;
  background-color: rgb(204, 204, 204);
}

.SG {
  border-radius: 0px 0px 15px 15px;
  background-color: rgb(233, 233, 233);
}

.List {
  color: rgb(253,130,23);
  border-radius: 15px;
  background-color: rgb(255,244,230);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
